@import "../../index.scss";

.taskTitle {
  background-color: $lightBackground;
  box-shadow: $boxShadow;
  height: 60px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
  button {
    width: 202px;
    height: 32px;
    color: #9b9c9c;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: $border;
    padding-right: 17px;

    img {
      height: 12px;
    }
  }
}
