@import "../../index.scss";

header {
  box-shadow: $boxShadow;
  padding: 20px;
  height: 60px;
  .indexRedirection {
    display: flex;
    align-items: center;
    height: 100%;
    a {
      img {
        display: block;
        width: 120px;
        height: 47px;
        margin-left: 5px;
      }
    }
  }
}
