@import "../../index.scss";

.calendar {
  margin-top: -2px;
  margin-left: -148px;
}
.DateInput {
  width: 148px;
  background: none;
}
#datePicker {
  color: transparent;
  background-color: transparent;
  border: none;
}
.SingleDatePickerInput__withBorder {
  border: none;
}
.DateInput_input__focused {
  border: none;
}
.SingleDatePickerInput {
  background-color: transparent;
}
