@import "../../index.scss";

li {
  .endedTaskLine {
    padding: 17px 15px;
    border-bottom: solid 1px transparent;
    a {
      display: flex;
      .tickedPic {
        margin-right: 11px;
      }
      .taskInfos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .taskTitleAndUser {
          .taskName {
            text-decoration: line-through;
            color: $darkerFontColor;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
          }
          .userName {
            text-decoration: line-through;
            color: $darkFontColor;
            opacity: 0.8;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
          }
        }
        .taskDate {
          text-decoration: line-through;
          color: $grayFontColor;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }

  .selected {
    background-color: $lightGray;
    box-shadow: $boxShadowRed;
  }
}
