@import "./reset.scss";

$darkFontColor: #252627;
$darkerFontColor: #292b2c;
$lightFontColor: white;
$grayFontColor: #a5a6a6;
$brandFontColor: #dc4d3c;
$userMailFontColor: #909191;

$darkBackground: #252627;
$lightBackground: white;

$lightGray: #f7f8f9;
$brandColor: #e74c3c;
$lightBrandColor: rgba(219, 68, 55, 0.1);

$boxShadow: inset 0px -1px 0px 0px #e4e8eb;
$boxShadowRed: inset 3px 0 0 #db4437;
$boxShadowButtons: 0 3px 10px #e4e8eb;
$border: 1px solid #e4e8eb;

$buttonColor: #c4c4c4;
$assignButtonsColor: #aeafaf;
